*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 75%;

}

.article {
   width: 800px;
   border:2px solid;
}
.product{
    background-color: rgb(113, 156, 156);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.product-heading{
    background-color: rgb(194, 179, 179);
    text-align: center;
    padding: 6px;
    margin: 5px 0 5px 0;
}
 .picture{
    margin-left:3px;
    float: left;
    width: 35%;
 }
 .price{
    margin: 2px 0 0 5px;
    padding: 5px 0 3px 5px;
    float: left;
    
 }
 .shipping{
    /* margin-left:8px; */
    padding:5px 3px 3px 5px;
    text-transform:uppercase;
    float: right;
    font-weight: bold;
    color: blue;
   
 }
 .product-des{
    /* margin: 3px 0 3px 0; */
    padding: 5px 3px 20px 5px;
    clear: both;
 }
 
 .info{
    margin-bottom:40px;
    padding: 5px 3px 35px 5px;
 }
 
 
.productinfo{
 float: left;
 width: 30%;
 padding: 5px 3px 20px 5px;
}

.product-list{
 float: right;
}

.details{
 margin: 5px 0 10px 10px;
 padding: 5px 3px 3px 5px;  
 }

 .cart{
    margin:5px 0 5px 0;
    width:100%;
    padding:5px;
    font-size:20px;
    color:gray;
    text-transform:uppercase;
    background-color:black;
    cursor:pointer;
 }
 .cart:hover{
    font-weight:bold;
    color:black;
    background-color:white;
 }
 .color{
   background-color:black;
   height:25px;
   width:25px;
   display:inline-block;
   border:2px solid black;
   margin-left:5px;
   margin-top:20px;
 }
 .color-red{
   background-color:red;
 }
 .color-green{
   background-color:green;
 }
 .color-white{
   background-color:white;
 }
 .color-pink{
   background-color:pink;
 }
 .color-teal{
   background-color: teal;
 }
 .product-list{
   margin: 0 0 15px 10px;
   width: 30%;

 }
 
.list li{
   padding-bottom: 19px;
   list-style: square;
}